// MARGINS

.m-auto {margin-left: auto; margin-right: auto;}
.m-0 { margin : $space-0;}
.m-1 { margin : $space-1;}
.m-2 { margin : $space-2;}
.m-3 { margin : $space-3;}
.m-4 { margin : $space-4;}
.m-5 { margin : $space-5;}
.m-6 { margin : $space-6;}

.mb-0 { margin-bottom : $space-0;}
.mb-1 { margin-bottom : $space-1;}
.mb-2 { margin-bottom : $space-2;}
.mb-3 { margin-bottom : $space-3;}
.mb-4 { margin-bottom : $space-4;}
.mb-5 { margin-bottom : $space-5;}
.mb-6 { margin-bottom : $space-6;}

.mt-0 { margin-top : $space-0;}
.mt-1 { margin-top : $space-1;}
.mt-2 { margin-top : $space-2;}
.mt-3 { margin-top : $space-3;}
.mt-4 { margin-top : $space-4;}
.mt-5 { margin-top : $space-5;}
.mt-6 { margin-top : $space-6;}

.mr-0 { margin-right : $space-0;}
.mr-1 { margin-right : $space-1;}
.mr-2 { margin-right : $space-2;}
.mr-3 { margin-right : $space-3;}
.mr-4 { margin-right : $space-4;}
.mr-5 { margin-right : $space-5;}
.mr-6 { margin-right : $space-6;}

.ml-0 { margin-left : $space-0;}
.ml-1 { margin-left : $space-1;}
.ml-2 { margin-left : $space-2;}
.ml-3 { margin-left : $space-3;}
.ml-4 { margin-left : $space-4;}
.ml-5 { margin-left : $space-5;}
.ml-6 { margin-left : $space-6;}


// Padding

.p-0 { padding : $space-0;}
.p-1 { padding : $space-1;}
.p-2 { padding : $space-2;}
.p-3 { padding : $space-3;}
.p-4 { padding : $space-4;}
.p-5 { padding : $space-5;}
.p-6 { padding : $space-6;}