h1,h2,h3,h4,h5,h6,.heading-text {font-family: $font-display; color : #222;}

.u-text-center {text-align: center;}
.u-text-upper {text-transform: uppercase;}

body{
    font-family: $font-primary;
}
.page-title-container{
    .heading-two{
        font-size: 2rem;
    }
}

.heading-three{
    font-size: 1.8rem;
    letter-spacing: -0.5px;
    line-height: 1.1;
    margin-bottom: 4px;
}

a.link:link,a.link:visited{
    color : $color-btn-bg;
    font-size: 1.4rem;
}

.reminder-card .subheading{
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
}

.text,p,span,a{
    font-weight: 500;
}