.container__header-nav{ 
    width :  25%;
    min-width: 25rem;
    max-width: 40rem;
    z-index: 3;
}

.nav-container {
    height: 100vh;
    width : 100%;
    gap : 3rem;
    padding-bottom: 1rem;
    &::-webkit-scrollbar{
        display: none;
    }
    ion-icon:not(.logo-circle){
        width : 2rem;
        height : 2rem;
    }
    background-color: white;
    opacity: 1;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    justify-content: space-between;
    color : $color-text-light;
}

.btn__menu{
    width : 100%;

    margin-top: 2rem;
    height : 4rem;

    &:hover{
        background-color: $color-bg-light;
    }
}

.btn__help{
    width : 3rem;
    height : 3rem;
    border-radius: 50%;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    color : white;
    background-color: black;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    font-size: 1.5rem;
}

.dropdown-container{
    width: 400%;
    min-width: 12rem;
    background-color: $color-bg-light;
    height : 100vh;
    -webkit-box-shadow: 10px 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 10px 0 10px 0 rgba(0,0,0,0.02);
    position: relative;
    &::-webkit-scrollbar{
        display: none;
    }
}

//DROP DOWN MENU
.dropmenu>ul{
    padding-left: 1.5rem;
    display: none;
}
.dropmenu.menu-open>ul{
    display: block;
}
.menu-open{
    &>h4 ion-icon{
        transform: rotate(90deg);
    }
}
.dropdown-menu{

    font-size: 1.4rem;
    padding : 0 1rem;
    padding-left: 2rem;
    height: fit-content;
    width : 3px;
    transform: scaleY(0) translateX(-100%);
    -webkit-transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s,-webkit-transform 0.2s;
    transition: transform 0.2s,width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s,-webkit-transform 0.2s;
    
    position : absolute;
    left: 0;
    margin-top: 5rem;
}

.dropdown-menu.btn__menu-toggled{
    transform: scaleY(1);
    width : 100%;
}

.dropdown-heading{
    font-size: 1.6rem;
}

.dropmenu {
    margin-bottom: 1rem;
    font-weight: 500;
    &>ul>li{
    font-size : 1.4rem;
    }
    &>ul>li:last-child>a{
        font-weight: 600;
        color: black;
        font-size: 110%;
    }

    
}




.active{
    color : #000;
}