.header{
    &__search{
        &-bar{
            border : 2px solid $grey-dark-3;
            border-radius: 20rem;
            min-height : 3rem;
            width : 100%;
            background-color: transparent;
            padding-left: 2.5rem;
        }
        &-btn{
            color : $grey-dark-3;
            background-color: inherit;
            border : none;
            border-radius: 20rem;
            height : 100%;
            &__icon {
                min-height: 2rem;
                height: 80%;
                position : absolute;
                left : 1%;  
                top : 50%;
                transform: translateY(-50%);
            }
            
        }

    }
}
.search{
    position : relative;
}

.work-container-heading{
    padding : 0 1rem;
}

.page-reminder-container{
    min-height: 12rem;
    width: 100%;
    height: fit-content;
}
.page-work-container{
    flex-grow: 12;
}