.search{
    width: 100%;
    max-height: 3rem;
    border: 2px solid #898783;
    border-radius: 2rem;
    overflow: hidden;
    &-btn{
        width: 10%;
        height: auto;
        .header__search-btn__icon{
            height: 100%;
            width: auto;
            color: #898783;
        }
    }
    &-bar{
        width: 90%;
        border: none;
    }
}

.work-container-heading{
    padding : 0 1rem;
}

.page-reminder-container{
    min-height: 12rem;
    width: 100%;
    height: fit-content;
}
.page-work-container{
    flex-grow: 12;
}