        
        // LOGO HTML CODE
        // <div class="logo-container-outer">
        //     <div class="logo-container">
        //         <span class="logo-letter">Z</span>
        //         <ion-icon class="logo-circle" name="ellipse-outline"></ion-icon>
        //     </div>
        // </div>



.logo{
    &-container{
        position : relative;
        height : $logo-size;
        width : $logo-size;
        &-outer{
            display: flex;
            align-items: center;
            justify-content: center;
            height : calc(#{$logo-size}*2.25);
            width: 100%;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
    }
    &-letter{
        font-size: $logo-size;
        position : absolute;
        transform: rotate(50deg);
        bottom : calc((#{-$logo-size}/2));
    }
    &-circle{
        width : $logo-size;
        height : $logo-size;
        position : absolute;
    }
}

.company-header{
    height : calc(#{$logo-size}*2.25);
    min-height: fit-content;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-left: 2rem;
    padding-bottom: .5rem;
    line-height: 1.1;
    padding-top: 1rem;
    font-weight: 900;
    .purpose{
        color : #333;
        font-weight: 400;
    }
}

.container__dashboard{
    &>label>.logo-mobile{
        width : 12vw;
        height: 12vw;
        border-radius: 50%;
        background-color: white;    
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        position: absolute;
        border: none;
        z-index: 2;
        & *{
            color : $color-btn-bg;
        }
        top : 50%;
        transform: translateY(-50%);
        transition: all .5s;
        transition-delay: .2s;
    }
}

.logo-mobile-close{
    height: 90%;
    width: 100%;
    color : $color-btn-bg;
    display: none !important;
}


.visually-hidden{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(2) translateX(1rem);
    z-index: 2;
    visibility: hidden;
}

#left-toggle:checked ~.container__header-nav{
    transform: translateX(0);
}

#left-toggle:checked ~label{
    .logo-mobile{
        background-color: $color-bg-light;
        box-shadow: none;
        z-index : 9999999 !important;
        display: flex !important;
        position: absolute;
        top: 2rem;
        right : 0;
        &>*:first-child{
            display: none !important;
        }
        &>*:last-child{
            display: flex !important;
        }
    }
}

