html {
  font-size: 62.5%;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  border: none;
  background-color: white; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F2EBE1;
  border-radius: 10px;
  height: auto; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 15px #945c45; }

body {
  background-color: white;
  color: #4f4f4f;
  font-weight: 300;
  line-height: 1.6; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  color: inherit;
  box-sizing: border-box;
  text-overflow: ellipsis; }

ul, ol {
  list-style: none; }

.container__dashboard {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.container__main {
  height: 100vh;
  width: inherit;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  overflow: hidden; }
  .container__main > *:last-child {
    align-self: flex-start;
    height: 100%; }
  .container__main > * {
    width: 100%;
    padding: 2rem; }

.container__user-menu {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 2rem;
  width: 30%;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.05);
  display: none; }

button {
  border: none;
  background-color: inherit;
  cursor: pointer; }

.m-auto {
  margin-left: auto;
  margin-right: auto; }

.m-0 {
  margin: 0rem; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 4rem; }

.m-4 {
  margin: 6rem; }

.m-5 {
  margin: 8rem; }

.m-6 {
  margin: 12rem; }

.mb-0 {
  margin-bottom: 0rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 4rem; }

.mb-4 {
  margin-bottom: 6rem; }

.mb-5 {
  margin-bottom: 8rem; }

.mb-6 {
  margin-bottom: 12rem; }

.mt-0 {
  margin-top: 0rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 4rem; }

.mt-4 {
  margin-top: 6rem; }

.mt-5 {
  margin-top: 8rem; }

.mt-6 {
  margin-top: 12rem; }

.mr-0 {
  margin-right: 0rem; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 4rem; }

.mr-4 {
  margin-right: 6rem; }

.mr-5 {
  margin-right: 8rem; }

.mr-6 {
  margin-right: 12rem; }

.ml-0 {
  margin-left: 0rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 4rem; }

.ml-4 {
  margin-left: 6rem; }

.ml-5 {
  margin-left: 8rem; }

.ml-6 {
  margin-left: 12rem; }

.p-0 {
  padding: 0rem; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 4rem; }

.p-4 {
  padding: 6rem; }

.p-5 {
  padding: 8rem; }

.p-6 {
  padding: 12rem; }

h1, h2, h3, h4, h5, h6, .heading-text {
  font-family: "Josefin Sans", sans-serif;
  color: #222; }

.u-text-center {
  text-align: center; }

.u-text-upper {
  text-transform: uppercase; }

body {
  font-family: "Nunito", sans-serif; }

.page-title-container .heading-two {
  font-size: 2rem; }

.link:link, .link:visited {
  color: #F0884E;
  font-size: 1.4rem;
  font-weight: 500; }

.reminder-card .subheading {
  color: black;
  font-weight: 500;
  font-size: 1.4rem; }

.text, p, span, a {
  font-weight: 500; }

.subheading {
  font-size: 1.6rem; }

.heading-one {
  font-size: 3.2rem;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 4px; }

.heading-two {
  font-size: 2.8rem;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 4px; }

.heading-three {
  font-size: 2.4rem;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 4px; }

h4, .heading-four {
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 4px; }

h5, .heading-five {
  font-size: 1.6rem; }

p {
  font-size: 1.6rem; }

.logo-mobile {
  display: none !important; }

.mobile-user-button {
  display: none !important; }

@media (max-width: 60em) {
  html {
    font-size: 58%; }
  .company-header > *:first-child > *:last-child {
    display: none !important; } }

@media (max-width: 57em) {
  html {
    font-size: 55%; } }

@media (max-width: 52em) {
  html {
    font-size: 51%; } }

@media (max-width: 48em) {
  html {
    font-size: 50%; }
  .work-cards {
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center !important; }
  .dropdown-container {
    min-width: 78px; }
  .daily-card {
    grid-column: 1/-1; }
  .members-img-box {
    flex-flow: wrap !important;
    align-items: center;
    justify-content: center; }
  .work-progress-counter-container {
    grid-template-rows: 1fr 1fr 1fr !important;
    grid-template-columns: 1fr !important;
    row-gap: 1rem; }
    .work-progress-counter-container > * {
      grid-template-columns: 1fr 1fr !important;
      grid-column: 1/-1; }
      .work-progress-counter-container > * > *:first-child {
        grid-column: 1;
        justify-self: flex-start;
        align-self: center; }
      .work-progress-counter-container > * > *:last-child {
        grid-column: 2;
        grid-row: 1 !important;
        justify-self: flex-end;
        align-self: center !important; }
    .work-progress-counter-container > *:nth-child(1) {
      grid-row: 1; }
    .work-progress-counter-container > *:nth-child(2) {
      grid-row: 2; }
    .work-progress-counter-container > *:nth-child(3) {
      grid-row: 3; }
  .user-menu-header {
    flex-flow: column wrap !important;
    align-items: center; }
  .reminder-card {
    gap: 4px; }
    .reminder-card > * {
      grid-column: 1/-1;
      justify-self: center !important; } }

@media (max-width: 31.25em) {
  html {
    font-size: 50%; }
  .container__dashboard {
    display: flex;
    border-radius: 0;
    overflow: hidden; }
  .container__header-nav {
    z-index: 1;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw !important;
    left: 0;
    transform: translateX(-100vw);
    transition: all 0.5s ease-in-out;
    font-size: 2rem; }
    .container__header-nav .btn__menu {
      width: 100%;
      height: 8rem; }
      .container__header-nav .btn__menu > * {
        transform: scale(2); }
    .container__header-nav .nav-container > *:first-child > *:nth-child(2) {
      height: inherit; }
    .container__header-nav .btn__help {
      transform: translateY(-2rem) scale(2); }
    .container__header-nav .dropmenu > * * {
      font-size: large !important; }
  .container__main {
    width: 100vw;
    margin: 0 auto; }
    .container__main > * {
      padding: 5rem; }
      .container__main > *:first-child {
        padding: 1rem 2rem; }
      .container__main > *:last-child > * {
        width: 100%; }
        .container__main > *:last-child > *:last-child > * {
          width: 100%; }
  .logo-mobile {
    display: flex !important; } }

@media (max-width: 23.125em) {
  html {
    font-size: 45%; }
  .page-title {
    display: none; }
  .user-nav {
    width: fit-content !important;
    gap: 5rem !important;
    margin: 0 auto; }
    .user-nav .text .subheading {
      font-size: 2rem; }
    .user-nav .text h4 {
      font-size: 3rem; }
    .user-nav .user-img {
      height: 100%;
      width: 5rem; }
    .user-nav .user {
      width: fit-content !important;
      gap: 5rem !important; } }

@media (max-width: 19em) {
  html {
    font-size: 40%; }
  .header__search-btn__icon {
    min-height: 12px !important; } }

@media (max-width: 13em) {
  html {
    font-size: 30%; }
  .work-card {
    border-radius: 12px !important; } }

@media (max-width: 8.125em) {
  html {
    font-size: 20%; }
  .header__search-btn__icon {
    min-height: 8px !important;
    height: 60% !important; } }

@media (max-height: 31.25em) {
  .container__main {
    overflow-y: auto;
    padding-top: 12rem;
    display: block !important; }
    .container__main > * {
      margin-bottom: 2rem; }
    .container__main > *:first-child {
      position: fixed;
      top: 0;
      width: 90vw;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(255, 255, 255, 0.9);
      backdrop-filter: blur(5px); } }

@media (min-width: 90em) {
  html {
    font-size: 100%; } }

.logo-container {
  position: relative;
  height: 3rem;
  width: 3rem; }
  .logo-container-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(3rem*2.25);
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.logo-letter {
  font-size: 3rem;
  position: absolute;
  transform: rotate(50deg);
  bottom: calc((-3rem/2)); }

.logo-circle {
  width: 3rem;
  height: 3rem;
  position: absolute; }

.company-header {
  height: calc(3rem*2.25);
  min-height: fit-content;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 2rem;
  padding-bottom: .5rem;
  line-height: 1.1;
  padding-top: 1rem;
  font-weight: 900; }
  .company-header .purpose {
    color: #333;
    font-weight: 400; }

.container__dashboard > label > .logo-mobile {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  border: none;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  transition: all .5s;
  transition-delay: .2s; }
  .container__dashboard > label > .logo-mobile * {
    color: #F0884E; }

.logo-mobile-close {
  height: 90%;
  width: 100%;
  color: #F0884E;
  display: none !important; }

.visually-hidden {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(2) translateX(1rem);
  z-index: 2;
  visibility: hidden; }

#left-toggle:checked ~ .container__header-nav {
  transform: translateX(0); }

#left-toggle:checked ~ label .logo-mobile {
  background-color: #F2EBE1;
  box-shadow: none;
  z-index: 9999999 !important;
  display: flex !important;
  position: absolute;
  top: 3.25rem;
  right: 0;
  background: transparent; }
  #left-toggle:checked ~ label .logo-mobile > *:first-child {
    display: none !important; }
  #left-toggle:checked ~ label .logo-mobile > *:last-child {
    display: flex !important; }

.work-card {
  max-width: 30rem;
  min-width: 25rem;
  width: 45%;
  min-height: 35rem;
  height: 100%;
  max-height: 50rem;
  background-color: #FCE5BC;
  padding: 3rem;
  border-radius: 32px;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: black; }

.card-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 2rem; }

.card-img-box {
  display: flex;
  flex-flow: row-reverse nowrap; }
  .card-img-box > * {
    width: 3.25rem;
    height: 3.25rem;
    border: solid 2px #FCE5BC;
    border-radius: 50%; }
    .card-img-box > *:not(:last-child) {
      margin-left: calc(-3.25rem/2); }
  .card-img-box > span {
    font-size: calc(3.25rem/2.25);
    display: flex;
    align-items: center;
    justify-content: center; }
  .card-img-box-number-outline {
    background-color: #FCE5BC;
    border-color: black; }
  .card-img-box-number-filled {
    background-color: black;
    color: white;
    border-color: black; }

.card-menu-btn {
  position: relative;
  transform: translateY(calc(-3.25rem/4)); }
  .card-menu-btn, .card-menu-btn::after {
    content: "";
    background-color: black;
    width: calc(3.25rem/7);
    height: calc(3.25rem/7);
    border-radius: 50%; }
  .card-menu-btn::after {
    position: absolute;
    bottom: calc(-3.25rem/3); }
  .card-menu-btn-container {
    display: flex;
    align-items: center; }

.card-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%; }

.work-heading {
  letter-spacing: -0.5px;
  line-height: 1.1; }

.work-subheading, .work-time {
  padding-left: 2px;
  line-height: 1.6;
  letter-spacing: 0.5px; }

.work-done-bar {
  background-color: rgba(200, 200, 200, 0.5);
  margin-top: 0.8rem; }
  .work-done-bar, .work-done-bar-filled {
    border-radius: 1rem;
    height: 0.8rem; }
  .work-done-bar-filled {
    background-color: black; }
  .work-done-bar .filled-1 {
    width: 40%; }
  .work-done-bar .filled-2 {
    width: 75%; }

.work-card:nth-child(odd) {
  background-color: #FCBDA3; }
  .work-card:nth-child(odd) .card-img-box-number-outline {
    border-color: #FCBDA3;
    background-color: black;
    color: white; }

.work-cards {
  width: 100%;
  height: fit-content;
  flex-flow: wrap; }

.reminder-card {
  border: 1px solid #f3ece5;
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem;
  display: grid;
  grid-template-columns: 60% 40%; }
  .reminder-card > .selector {
    grid-column: 1/-1;
    justify-self: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.75rem; }
    .reminder-card > .selector > * {
      width: 0.5rem;
      height: 0.5rem;
      background-color: #FCBDA3;
      border-radius: 50%; }
      .reminder-card > .selector > *:nth-child(2) {
        opacity: 0.75; }
      .reminder-card > .selector > *:last-child {
        opacity: 0.5; }

.btn-reminder {
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: end;
  padding: 1.3rem;
  border: 1px dashed #FCBDA3;
  border-radius: 3rem; }

.container__header-nav {
  width: 25%;
  min-width: 25rem;
  max-width: 40rem;
  z-index: 3; }

.nav-container {
  min-height: 100vh;
  width: 100%;
  gap: 3rem;
  padding-bottom: 1rem;
  background-color: white;
  opacity: 1;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  justify-content: space-between;
  color: #4f4f4f; }
  .nav-container ion-icon:not(.logo-circle) {
    width: 2rem;
    height: 2rem; }

.btn__menu {
  width: 100%;
  margin-top: 2rem;
  height: 4rem; }
  .btn__menu:hover {
    background-color: #F2EBE1; }

.btn__help {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  font-size: 1.5rem; }

.dropdown-container {
  width: 400%;
  min-width: 12rem;
  background-color: #F2EBE1;
  height: inherit;
  -webkit-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.02);
  position: relative;
  overflow: hidden; }

.dropmenu > ul {
  padding-left: 1.5rem;
  display: none; }

.dropmenu.menu-open > ul {
  display: block; }

.menu-open > h4 ion-icon {
  transform: rotate(90deg); }

.dropdown-menu {
  font-size: 1.4rem;
  padding: 0 1rem;
  padding-left: 2rem;
  height: fit-content;
  width: 3px;
  transform: scaleY(0) translateX(-100%);
  -webkit-transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  position: absolute;
  left: 0;
  margin-top: 5rem; }

.dropdown-menu.btn__menu-toggled {
  transform: scaleY(1);
  width: 100%; }

.dropdown-heading {
  font-size: 1.6rem; }

.dropmenu {
  margin-bottom: 1rem;
  font-weight: 500; }
  .dropmenu > ul > li {
    font-size: 1.4rem; }
  .dropmenu > ul > li:last-child > a {
    font-weight: 600;
    color: black;
    font-size: 110%; }

.active {
  color: #000; }

.search {
  width: 100%;
  max-height: 5rem;
  border: 2px solid #E7E0D6;
  border-radius: 3rem;
  overflow: hidden;
  padding: 1rem 0; }
  .search-btn {
    width: 10%;
    max-width: 3rem;
    height: auto; }
  .search-bar {
    width: 90%;
    border: none; }
    .search-bar * {
      color: #E7E0D6; }
    .search-bar::placeholder {
      color: #E7E0D6; }

.user-nav {
  width: 18rem; }

.btn-notification {
  position: relative; }
  .btn-notification > * {
    width: 2.5rem;
    height: 100%; }
  .btn-notification::after {
    position: absolute;
    content: "";
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    border: 0.1rem solid white;
    background-color: #F0884E;
    right: 15%;
    top: 30%; }

.user {
  gap: 0.4rem;
  width: 100%;
  align-items: center; }

.user-nav-button {
  color: #F0884E; }
  .user-nav-button > * {
    width: 2.5rem;
    height: 2.5rem; }

.user-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%; }

.header__search-btn__icon {
  height: 100%;
  width: 100%;
  color: #E7E0D6; }

.page-reminder-container {
  width: 100%;
  height: fit-content; }
  .page-reminder-container .btn-reminder {
    color: black; }

.page-work-container {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  min-height: 40rem;
  align-self: center;
  display: grid;
  grid-template-rows: auto 1fr; }
  .page-work-container > *:first-child {
    margin-bottom: 1rem; }
  .page-work-container > *:last-child {
    width: 100%;
    margin: 0 auto;
    padding: 0; }

.main-area {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: inherit;
  gap: 2rem; }

.footer {
  height: 100%; }

.footer > * {
  width: 95%;
  height: fit-content;
  padding: 2rem 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem; }
  .footer > * > * {
    width: 100%;
    margin: 0 auto;
    height: 100%; }

.user-button-toggle {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 0 0.5rem;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  align-items: center;
  align-self: flex-end; }
  .user-button-toggle > * {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #FCBDA3; }

.btn-user-project {
  padding: 1.2rem 2.4rem;
  color: white;
  background-color: #F0884E;
  border-radius: 2.4rem; }

.members-img-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem; }
  .members-img-box > * {
    width: 5rem;
    height: 100%;
    border-radius: 50%; }
    .members-img-box > *:last-child {
      border: 1px #F0884E dashed;
      background-color: #F2EBE1;
      width: 2rem;
      height: 2rem;
      color: #F0884E;
      display: flex;
      align-items: center;
      justify-content: center; }

.work-progress-counter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  align-items: stretch;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1); }
  .work-progress-counter-container > * {
    display: grid;
    grid-row: 1/3;
    align-items: stretch; }
    .work-progress-counter-container > * > *:first-child {
      grid-row: 1;
      align-self: center; }
    .work-progress-counter-container > * > *:last-child {
      grid-row: 2;
      align-self: flex-end; }

.daily-tasks-container {
  height: fit-content;
  padding: 2rem 0;
  margin: 0 auto; }

.daily-cards {
  gap: 1rem;
  align-items: center;
  justify-content: center; }

.daily-card {
  width: 100%;
  min-height: 12rem;
  color: black;
  font-weight: 700;
  border-radius: 1.2rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  position: relative; }
  .daily-card ion-icon {
    width: 2rem;
    height: 2rem; }
  .daily-card-1 {
    background-color: #f3ece5; }
    .daily-card-1 .text {
      margin-top: 12.5%; }
    .daily-card-1 > *:last-child {
      position: absolute;
      right: 1rem;
      bottom: 1rem; }
  .daily-card-2 {
    background-image: url(../img/bg/3.png);
    background-position: bottom;
    background-size: 105%; }
  .daily-card-3 {
    background-image: url(../img/bg/1.png);
    background-position: bottom;
    background-size: 100%; }
  .daily-card-4 {
    background-color: #f0884e;
    background-image: url(../img/bg/2.png);
    background-position: bottom;
    background-size: 100%;
    color: white; }

.marker {
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2px; }
  .marker .circle {
    width: .5rem;
    display: inline-block;
    height: .5rem;
    border-radius: 50%; }
    .marker .circle.red {
      background-color: red; }
    .marker .circle.green {
      background-color: green; }
    .marker .circle.white {
      background-color: white; }
  .marker .checkbox {
    border-radius: 3px;
    width: 1rem;
    height: 1rem;
    border: 1px solid #f0884e;
    display: flex;
    align-items: center;
    justify-content: center; }
    .marker .checkbox.checked {
      background-color: black;
      border-color: black;
      color: white; }
      .marker .checkbox.checked > * {
        opacity: 1;
        visibility: visible; }
    .marker .checkbox > * {
      width: 1rem;
      height: 1rem;
      visibility: none;
      opacity: 0; }

.mobile-user-button {
  position: fixed;
  gap: 0.3rem !important;
  top: 50%;
  right: 0px;
  width: 12vw;
  height: 12vw;
  transform: translateY(-50%) rotate(90deg);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
  .mobile-user-button > * {
    background-color: #f0884e;
    transform: scale(0.75); }

.mobile-user-button-close {
  color: #f0884e;
  display: none;
  width: 3rem;
  height: 3rem; }

.d-grid {
  display: grid; }

.d-flex {
  display: flex; }

.f-col {
  flex-direction: column; }

.f-row {
  flex-direction: row; }

.f-wrap {
  flex-wrap: wrap; }

.f-nowrap {
  flex-wrap: nowrap; }

.g-c-1 {
  grid-template-columns: 1fr; }

.g-c-2 {
  grid-template-columns: 1fr 1fr; }

.g-c-1-2 {
  grid-template-columns: 1fr 2fr; }

.g-c-2-1 {
  grid-template-columns: 2fr 1fr; }

.g-c-3 {
  grid-template-columns: repeat(3, 1fr); }

.g-c-4 {
  grid-template-columns: repeat(4, 1fr); }

.g-c-5 {
  grid-template-columns: repeat(5, 1fr); }

.g-c-6 {
  grid-template-columns: repeat(6, 1fr); }

.gap-0 {
  row-gap: 0rem;
  column-gap: 0rem;
  gap: 0rem; }

.gap-1 {
  row-gap: 1rem;
  column-gap: 1rem;
  gap: 1rem; }

.gap-2 {
  row-gap: 2rem;
  column-gap: 2rem;
  gap: 2rem; }

.gap-3 {
  row-gap: 4rem;
  column-gap: 4rem;
  gap: 4rem; }

.gap-4 {
  row-gap: 6rem;
  column-gap: 6rem;
  gap: 6rem; }

.gap-5 {
  row-gap: 8rem;
  column-gap: 8rem;
  gap: 8rem; }

.g-center {
  justify-items: center;
  align-items: center;
  justify-content: center; }

.align-center {
  align-items: center; }

.align-end {
  align-self: flex-end; }

.align-start {
  align-self: flex-start; }

.justify-center {
  justify-content: center;
  justify-items: center; }

.justify-end {
  justify-self: flex-end; }

.justify-start {
  justify-self: flex-start; }

.align-start {
  justify-self: flex-start; }

.f-space-between {
  justify-content: space-between; }

.overflow-auto {
  overflow-y: auto;
  overflow-x: hidden; }

.overflow-hover {
  overflow-y: auto;
  visibility: hidden; }
  .overflow-hover > * {
    visibility: visible; }
  .overflow-hover:hover {
    visibility: visible; }

.o-hidden {
  overflow: hidden; }
