html {
  font-size: 62.5%; }

body {
  background-color: #f3ece5;
  color: #3c3b38;
  font-weight: 300;
  line-height: 1.6; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  color: inherit;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

.container__dashboard {
  width: 100vw;
  background-color: white;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  position: relative; }

.container__main {
  padding: 2rem;
  flex-grow: 12;
  position: relative; }
  .container__main > *:not(:last-child) {
    margin-bottom: 2rem; }

.container__user-menu {
  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
  padding: 1rem 2rem;
  max-width: 32rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.05); }

button {
  border: none;
  background-color: inherit;
  cursor: pointer; }

.m-auto {
  margin-left: auto;
  margin-right: auto; }

.m-0 {
  margin: 0rem; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 4rem; }

.m-4 {
  margin: 6rem; }

.m-5 {
  margin: 8rem; }

.m-6 {
  margin: 12rem; }

.mb-0 {
  margin-bottom: 0rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 4rem; }

.mb-4 {
  margin-bottom: 6rem; }

.mb-5 {
  margin-bottom: 8rem; }

.mb-6 {
  margin-bottom: 12rem; }

.mt-0 {
  margin-top: 0rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 4rem; }

.mt-4 {
  margin-top: 6rem; }

.mt-5 {
  margin-top: 8rem; }

.mt-6 {
  margin-top: 12rem; }

.mr-0 {
  margin-right: 0rem; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 4rem; }

.mr-4 {
  margin-right: 6rem; }

.mr-5 {
  margin-right: 8rem; }

.mr-6 {
  margin-right: 12rem; }

.ml-0 {
  margin-left: 0rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 4rem; }

.ml-4 {
  margin-left: 6rem; }

.ml-5 {
  margin-left: 8rem; }

.ml-6 {
  margin-left: 12rem; }

.p-0 {
  padding: 0rem; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 4rem; }

.p-4 {
  padding: 6rem; }

.p-5 {
  padding: 8rem; }

.p-6 {
  padding: 12rem; }

h1, h2, h3, h4, h5, h6, .heading-text {
  font-family: "Josefin Sans", sans-serif;
  color: #222; }

.u-text-center {
  text-align: center; }

.u-text-upper {
  text-transform: uppercase; }

body {
  font-family: "Nunito", sans-serif; }

.page-title-container .heading-two {
  font-size: 2rem; }

.heading-three {
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 4px; }

a.link:link, a.link:visited {
  color: #f0884e; }

.logo-mobile {
  display: none !important; }

.mobile-user-button {
  display: none !important; }

@media (max-width: 60em) {
  html {
    font-size: 58%; }
  .company-header > *:first-child > *:last-child {
    display: none !important; } }

@media (max-width: 57em) {
  html {
    font-size: 55%; } }

@media (max-width: 52em) {
  html {
    font-size: 51%; } }

@media (max-width: 48em) {
  html {
    font-size: 50%; }
  .work-cards {
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center !important; }
  .dropdown-container {
    min-width: 78px; }
  .daily-card {
    grid-column: 1/-1; }
  .members-img-box {
    flex-flow: wrap !important;
    align-items: center;
    justify-content: center; }
  .work-progress-counter-container {
    flex-direction: column !important;
    align-items: stretch !important; }
    .work-progress-counter-container > * {
      display: flex;
      gap: 1rem;
      justify-content: space-between; }
  .user-menu-header {
    flex-flow: column wrap !important;
    align-items: center; }
  .reminder-card {
    gap: 4px; }
    .reminder-card > * {
      grid-column: 1/-1;
      justify-self: center !important; } }

@media (max-width: 31.25em) {
  html {
    font-size: 70%; }
  .container__dashboard {
    display: flex;
    border-radius: 0;
    overflow: hidden; }
  .container__header-nav {
    z-index: 1;
    position: fixed;
    min-height: 100vh;
    width: 100vw !important;
    left: 0;
    transform: translateX(-100vw);
    transition: all 0.5s ease-in-out; }
  .container__user-menu {
    background-color: white;
    position: absolute;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    width: 100vw;
    z-index: 2;
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out; }
  .container__main {
    width: 90vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0 auto; }
  .left-open {
    transform: translateX(0) !important; }
  .right-open {
    transform: translateX(0) !important; }
  .logo-mobile, .logo-mobile-close, .mobile-user-button, .mobile-user-button-close {
    display: flex !important; } }

@media (max-width: 20em) {
  html {
    font-size: 50%; }
  .header__search-btn__icon {
    min-height: 12px !important; } }

@media (max-width: 13em) {
  html {
    font-size: 30%; }
  .work-card {
    border-radius: 12px !important; } }

@media (max-width: 8.125em) {
  html {
    font-size: 20%; }
  .header__search-btn__icon {
    min-height: 8px !important;
    height: 60% !important; } }

.logo-container {
  position: relative;
  height: 2rem;
  width: 2rem; }
  .logo-container-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(2rem*2.25);
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.logo-letter {
  font-size: 2rem;
  position: absolute;
  transform: rotate(50deg);
  bottom: calc((-2rem/2)); }

.logo-circle {
  width: 2rem;
  height: 2rem;
  position: absolute; }

.company-header {
  height: calc(2rem*2.25);
  min-height: fit-content;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 4px;
  line-height: 1.1;
  padding-top: 1rem; }

.container__dashboard > .logo-mobile {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: fixed;
  border: none;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%); }
  .container__dashboard > .logo-mobile * {
    color: #f0884e; }

.logo-mobile-close {
  width: 100%;
  height: 100%;
  margin-right: 1rem;
  color: #f0884e;
  display: none; }
  .logo-mobile-close-container {
    width: 20%;
    height: 100%; }

.work-card {
  max-width: 100%;
  width: 22rem;
  min-height: 30rem;
  background-color: #fce5bc;
  padding: 3rem;
  border-radius: 32px;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }

.card-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.card-img-box {
  display: flex;
  flex-flow: row-reverse nowrap; }
  .card-img-box > * {
    width: 3.25rem;
    height: 3.25rem;
    border: solid 2px #fce5bc;
    border-radius: 50%; }
    .card-img-box > *:not(:last-child) {
      margin-left: calc(-3.25rem/2); }
  .card-img-box > span {
    font-size: calc(3.25rem/2.25);
    display: flex;
    align-items: center;
    justify-content: center; }
  .card-img-box-number-outline {
    background-color: #fce5bc;
    border-color: black; }
  .card-img-box-number-filled {
    background-color: black;
    color: white;
    border-color: black; }

.card-menu-btn {
  position: relative;
  transform: translateY(calc(-3.25rem/4)); }
  .card-menu-btn, .card-menu-btn::after {
    content: "";
    background-color: black;
    width: calc(3.25rem/7);
    height: calc(3.25rem/7);
    border-radius: 50%; }
  .card-menu-btn::after {
    position: absolute;
    bottom: calc(-3.25rem/3); }
  .card-menu-btn-container {
    display: flex;
    align-items: center; }

.card-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%; }

.work-heading {
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 4px; }

.work-subheading, .work-time {
  font-size: 1.2rem;
  padding-left: 2px;
  line-height: 1.6;
  letter-spacing: 0.5px; }

.work-done-bar {
  background-color: rgba(200, 200, 200, 0.5);
  margin-top: 0.8rem; }
  .work-done-bar, .work-done-bar-filled {
    border-radius: 1rem;
    height: 0.8rem; }
  .work-done-bar-filled {
    background-color: black; }
  .work-done-bar .filled-1 {
    width: 40%; }
  .work-done-bar .filled-2 {
    width: 75%; }

.work-card:nth-child(odd) {
  background-color: #fcbda3; }
  .work-card:nth-child(odd) .card-img-box-number-outline {
    border-color: #fcbda3;
    background-color: black;
    color: white; }

.work-cards {
  flex-grow: 12;
  align-self: flex-start;
  width: fit-content; }

.reminder-card {
  border: 1px solid #f3ece5;
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem;
  display: grid;
  grid-template-columns: 60% 40%; }
  .reminder-card > .selector {
    grid-column: 1/-1;
    justify-self: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.75rem; }
    .reminder-card > .selector > * {
      width: 0.5rem;
      height: 0.5rem;
      background-color: #fcbda3;
      border-radius: 50%; }
      .reminder-card > .selector > *:nth-child(2) {
        opacity: 0.75; }
      .reminder-card > .selector > *:last-child {
        opacity: 0.5; }

.btn-reminder {
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: end;
  padding: 1.3rem;
  border: 1px dashed #fcbda3;
  border-radius: 3rem; }

.container__header-nav {
  width: fit-content;
  z-index: 3; }

.nav-container {
  min-height: 100vh;
  width: 100%;
  gap: 3rem;
  padding-bottom: 1rem;
  background-color: white;
  opacity: 1;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  justify-content: space-between; }
  .nav-container ion-icon:not(.logo-circle) {
    width: 2rem;
    height: 2rem; }

.btn__menu {
  width: 100%;
  height: 4rem; }
  .btn__menu:hover {
    background-color: #f2ebe1; }

.btn__help {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  font-size: 1.5rem; }

.dropdown-container {
  width: 400%;
  min-width: 12rem;
  background-color: #f2ebe1;
  height: inherit;
  -webkit-box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.02);
  position: relative;
  overflow: hidden; }

.dropmenu > ul {
  padding-left: 1.5rem;
  display: none; }

.dropmenu.menu-open > ul {
  display: block; }

.dropdown-menu {
  padding: 0 1rem;
  height: fit-content;
  width: 3px;
  transform: scaleY(0) translateX(-100%);
  -webkit-transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  position: absolute;
  left: 0; }

.dropdown-menu.btn__menu-toggled {
  transform: scaleY(1);
  width: 100%; }

.dropmenu {
  margin-bottom: 1rem; }
  .dropmenu > ul > li:last-child {
    font-weight: bold; }

.header__search-bar {
  border: 2px solid #999;
  border-radius: 20rem;
  min-height: 3rem;
  width: 100%;
  background-color: transparent;
  padding-left: 2.5rem; }

.header__search-btn {
  color: #999;
  background-color: inherit;
  border: none;
  border-radius: 20rem;
  height: 100%; }
  .header__search-btn__icon {
    min-height: 2rem;
    height: 80%;
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%); }

.search {
  position: relative; }

.work-container-heading {
  padding: 0 1rem; }

.page-reminder-container {
  min-height: 12rem;
  width: 100%;
  height: fit-content; }

.page-work-container {
  flex-grow: 12; }

.user-button-toggle {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 0 0.5rem;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  align-items: center;
  align-self: flex-end; }
  .user-button-toggle > * {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fcbda3; }

.btn-user-project {
  padding: 1.2rem 2.4rem;
  color: white;
  font-size: 1.2rem;
  background-color: #f0884e;
  border-radius: 2.4rem; }

.btn-notification {
  position: relative; }
  .btn-notification > * {
    width: 1.8rem;
    height: 1.8rem; }
  .btn-notification::after {
    position: absolute;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: 0.1rem solid white;
    background-color: #f0884e;
    right: 15%;
    top: 30%; }

.user {
  gap: 0.4rem;
  align-items: center; }
  .user .text {
    line-height: 1.1; }

.user-nav-button {
  color: #f0884e; }
  .user-nav-button > * {
    width: 1.8rem;
    height: 1.8rem; }

.user-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%; }

.members-img-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; }
  .members-img-box > * {
    width: 4.5rem;
    height: auto;
    border-radius: 50%; }
    .members-img-box > *:last-child {
      border: 1px #f0884e dashed;
      background-color: #f2ebe1;
      width: 2rem;
      height: 2rem;
      color: #f0884e;
      display: flex;
      align-items: center;
      justify-content: center; }

.work-progress-counter-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1); }

.daily-tasks-container {
  height: 100%; }

.daily-cards {
  gap: 1rem;
  align-items: center;
  justify-content: center; }

.daily-card {
  width: 100%;
  min-height: 12rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  position: relative; }
  .daily-card .text {
    font-size: 1.4rem; }
  .daily-card ion-icon {
    width: 2rem;
    height: 2rem; }
  .daily-card-1 {
    background-color: #f3ece5; }
    .daily-card-1 .text {
      margin-top: 12.5%; }
    .daily-card-1 > *:last-child {
      position: absolute;
      right: 1rem;
      bottom: 1rem; }
  .daily-card-2 {
    background-image: url(../img/bg/3.png);
    background-position: bottom;
    background-size: 105%; }
  .daily-card-3 {
    background-image: url(../img/bg/1.png);
    background-position: bottom;
    background-size: 100%; }
  .daily-card-4 {
    background-color: #f0884e;
    background-image: url(../img/bg/2.png);
    background-position: bottom;
    background-size: 100%;
    color: white; }

.marker {
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2px; }
  .marker .circle {
    width: .5rem;
    display: inline-block;
    height: .5rem;
    border-radius: 50%; }
    .marker .circle.red {
      background-color: red; }
    .marker .circle.green {
      background-color: green; }
    .marker .circle.white {
      background-color: white; }
  .marker .checkbox {
    border-radius: 3px;
    width: 1rem;
    height: 1rem;
    border: 1px solid #f0884e;
    display: flex;
    align-items: center;
    justify-content: center; }
    .marker .checkbox.checked {
      background-color: black;
      border-color: black;
      color: white; }
      .marker .checkbox.checked > * {
        opacity: 1;
        visibility: visible; }
    .marker .checkbox > * {
      width: 1rem;
      height: 1rem;
      visibility: none;
      opacity: 0; }

.mobile-user-button {
  position: fixed;
  gap: 0.3rem !important;
  top: 50%;
  right: 0px;
  width: 12vw;
  height: 12vw;
  transform: translateY(-50%) rotate(90deg);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
  .mobile-user-button > * {
    background-color: #f0884e;
    transform: scale(0.75); }

.mobile-user-button-close {
  color: #f0884e;
  display: none;
  width: 3rem;
  height: 3rem; }

.d-grid {
  display: grid; }

.d-flex {
  display: flex; }

.f-col {
  flex-direction: column; }

.f-row {
  flex-direction: row; }

.f-wrap {
  flex-wrap: wrap; }

.f-nowrap {
  flex-wrap: nowrap; }

.g-c-1 {
  grid-template-columns: 1fr; }

.g-c-2 {
  grid-template-columns: 1fr 1fr; }

.g-c-1-2 {
  grid-template-columns: 1fr 2fr; }

.g-c-2-1 {
  grid-template-columns: 2fr 1fr; }

.g-c-3 {
  grid-template-columns: repeat(3, 1fr); }

.g-c-4 {
  grid-template-columns: repeat(4, 1fr); }

.g-c-5 {
  grid-template-columns: repeat(5, 1fr); }

.g-c-6 {
  grid-template-columns: repeat(6, 1fr); }

.gap-0 {
  row-gap: 0rem;
  column-gap: 0rem;
  gap: 0rem; }

.gap-1 {
  row-gap: 1rem;
  column-gap: 1rem;
  gap: 1rem; }

.gap-2 {
  row-gap: 2rem;
  column-gap: 2rem;
  gap: 2rem; }

.gap-3 {
  row-gap: 4rem;
  column-gap: 4rem;
  gap: 4rem; }

.gap-4 {
  row-gap: 6rem;
  column-gap: 6rem;
  gap: 6rem; }

.gap-5 {
  row-gap: 8rem;
  column-gap: 8rem;
  gap: 8rem; }

.g-center {
  justify-items: center;
  align-items: center;
  justify-content: center; }

.align-center {
  align-items: center; }

.align-end {
  align-self: flex-end; }

.align-start {
  align-self: flex-start; }

.justify-center {
  justify-content: center;
  justify-items: center; }

.justify-end {
  justify-self: flex-end; }

.justify-start {
  justify-self: flex-start; }

.align-start {
  justify-self: flex-start; }

.f-space-between {
  justify-content: space-between; }

.overflow-auto {
  overflow: auto; }
